<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="mm.pndaza.tipitakamyanmar.activity.SplashScreenActivity"
            android:theme="@style/AppTheme.FullScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="mm.pndaza.tipitakamyanmar.activity.MainActivity"/>
        <activity android:name="mm.pndaza.tipitakamyanmar.activity.ReadBookActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="mm.pndaza.tipitakamyanmar.ReadBookActivity"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tipitakamyanmar" android:host="mm.pndaza.tipitakamyanmar" android:pathPrefix="/open" />
            </intent-filter>
        </activity>
        <activity android:name="mm.pndaza.tipitakamyanmar.activity.SettingActivity"/>
    </application>

</manifest>