@font-face {
	font-family: 'MyanmarPaOh';
	src: url('MyanmarPaOh.ttf');
}

body { font-family: 'MyanmarPaOh' !important; line-height: 2.2em;}

p { text-align:left;  text-indent: 25px;  font-size: 19px;}
h1 { color:dodgerblue; text-align:center; font-size:  22px; font-weight: bold;}
h2 { color:dodgerblue; text-align:center; font-size:  21px; font-weight: bold;}
h3 { color:dodgerblue; text-align:center;  font-size:  20px; font-weight: bold;}
h4 { color:dodgerblue; text-align:center; font-size:  19px; font-weight: bold;}
h5 { color:dodgerblue; text-align:center;  font-size:  19px; font-weight: bold;}
h6 { color:dodgerblue; text-align:center; font-size:  19px; font-weight: bold;}

.title { color:dodgerblue; text-align:center; font-weight: bold;}
.center {	text-align:center; font-weight: bold;}
.ending {	text-align:center; font-weight: bold; font-size: 17px; }
.unindent { text-indent: 0px; }
.footnote { color: gray; font-size: 17px; }
.highlight { color:white; background-color: magenta;}